<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Attendance management system - Face recognition</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/home_assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/home_assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/home_assets/css/templatemo-eduwell-style.css">
    <link rel="stylesheet" href="/static/home_assets/css/owl.css">
    <link rel="stylesheet" href="/static/home_assets/css/lightbox.css">
<!--

TemplateMo 573 EduWell

https://templatemo.com/tm-573-eduwell

-->
  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="/" class="logo">
                          <h3 style="margin-top: 40px; font-size: 20px;">Attendance Management</h3>
                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li class="scroll-to-section"><a href="#services">Features</a></li>
                          <li class="scroll-to-section"><a href="#courses">How </a></li>
                        
                          <li ><a href="admin_login">Login </a></li>
                          
                      </ul>        
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
          
            <h2>Effortless Attendance with  <em>Facial Recognition!</em></h2>
            <div class="main-button-gradient">
              <div><a href="/admin_login">Login</a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="right-image">
            <img src="/static/home_assets/images/gal-removebg-preview.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
           
            <h4>Our <em>Features</em></h4>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="/static/home_assets/images/service-icon-02.png" alt="">
                </div>
                <h4>Real-Time Face Recognition</h4>
                <p>Experience instant and accurate attendance tracking with facial recognition technology.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="/static/home_assets/images/service-icon-02.png" alt="">
                </div>
                <h4>Automated Attendance Recordin</h4>
                <p>Effortlessly manage and analyze attendance record with automated logs and filters.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="/static/home_assets/images/service-icon-02.png" alt="">
                </div>
                <h4>Secure and Encrypted Data Handling</h4>
                <p>Trust in our secure system, which protects your biometric data with advanced encryption.</p>
              </div>
            </div>
            <div class="item">
              <div class="service-item">
                <div class="icon">
                  <img src="/static/home_assets/images/service-icon-02.png" alt="">
                </div>
                <h4>Scalability and Integration Capabilities</h4>
                <p>Easily integrate with your existing systems and scale as your organization grows.</p>
              </div>
            </div>
       
        
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading">
           
            <h4>Done <em>using :</em></h4>
           
          </div>
        </div>
        <div class="col-lg-12">
          <div class="naccs">
            <div class="tabs">
              <div class="row">
                <div class="col-lg-3">
                  <div class="menu">
                    <div class="active gradient-border"><span>Face Detection and Recognition</span></div>
                    <div class="gradient-border"><span>Data Management and Training</span></div>
                    <div class="gradient-border"><span>Secure and Encrypted Data Handling</span></div>
                    <div class="gradient-border"><span>Web Integration and User Interface</span></div>
                  </div>
                </div>
                <div class="col-lg-9">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                       
                       
                        <div class="right-content" style="margin-right: 50px; margin-left: 50px;">
                          <h4>Face Detection and Recognition</h4>
                          <p>Utilizes OpenCV's cv2.CascadeClassifier for detecting faces in real-time from video streams or images. Detected faces are recognized using the Local Binary Patterns Histograms (LBPH) algorithm implemented by 
                          <br><br>Utilizes OpenCV's cv2.CascadeClassifier for detecting faces in real-time from video streams or images. Detected faces are recognized using the Local Binary Patterns Histograms (LBPH) algorithm implemented by </p>
                       <p>Face Detection: Detects faces using Haar cascades, a proven technique for real-time applications.</p>
                       <p>Face Recognition: Employs the LBPH algorithm to identify individuals with high accuracy.</p>
                          <p>Real-Time Performance: Efficiently processes video streams for immediate feedback.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                       
                       
                        <div class="right-content" style="margin-right: 50px; margin-left: 50px;">
                          <h4>Data Management and Training</h4>
                          <p>Organizes facial images into a dataset stored in a structured directory (DATASET_DIR). The system captures multiple images of each individual to enhance the accuracy of the recognition model. 
                          <br><br>This data is then used to train the recognizer, which creates and stores the model in RECOGNIZER_DIR for later use. </p>
                       <p>Dataset Management: Stores and organizes training images in a structured format.</p>
                       <p>Training Process: Utilizes captured images to train the LBPH recognizer.</p>
                          <p>Model Storage: Saves the trained model for efficient future recognition.</p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div>
                       
                       
                        <div class="right-content" style="margin-right: 50px; margin-left: 50px;">
                          <h4>Secure and Encrypted Data Handling</h4>
                          <p>Ensures the privacy and security of facial images and recognition data by using secure storage methods.
                          <br><br>Data such as facial images and model parameters are stored in designated directories, with considerations for encryption and access controls to protect sensitive information. </p>
                       <p>Secure Storage: Facial images and models are securely stored to prevent unauthorized access.</p>
                       <p>Encryption: Uses encryption techniques to protect sensitive data.</p>
                          <p>Access Control: Restricts access to data directories to authorized personnel only.</p>
                        </div>
                      </div>
                    </li>
                    <li >
                      <div>
                       
                       
                        <div class="right-content" style="margin-right: 50px; margin-left: 50px;">
                          <h4>Web Integration and User Interface</h4>
                          <p>Integrates with Django to provide a web-based interface for managing attendance. Users can view attendance records, filter by date, and register new faces through the web application.
                          <br><br>This integration facilitates seamless interaction between the face recognition system and the user management interface. </p>
                       <p>Django Integration: Provides a web-based interface for attendance management.</p>
                       <p>User Interface: Allows users to view and manage attendance records through a web application.</p>
                          <p>Real-Time Performance: Efficiently processes video streams for immediate feedback.</p>
                        </div>
                      </div>
                    </li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="/static/home_assets/vendor/jquery/jquery.min.js"></script>
    <script src="/static/home_assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="/static/home_assets/js/isotope.min.js"></script>
    <script src="/static/home_assets/js/owl-carousel.js"></script>
    <script src="/static/home_assets/js/lightbox.js"></script>
    <script src="/static/home_assets/js/tabs.js"></script>
    <script src="/static/home_assets/js/video.js"></script>
    <script src="/static/home_assets/js/slick-slider.js"></script>
    <script src="/static/home_assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</html>